
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html {
    width: 100%;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #F6EA8C;
    color: #492540;
}

.bg-light {
    background: rgba(70, 70, 70, 0.9) !important;
}

.nav-link {
    margin-left: 8.5em;
    color: white !important;
}

#logo {
    margin: auto;
    padding: 3em;
}

h1 {
    margin-left: 2em;
    padding: 1.5rem;
    font-size: 48px;
    color: #492540;
}

.box {
    width: 50%;
    margin-left: 2em;
    border: #492540 solid;
}

.profile-text {
    margin: 3em;
    display: flex;
}

.profile {
    font-size: 20px; 
    padding: 2em;
}

.services {
    display: block;
}

h2 {
    font-size: 48px;
    margin-left: 1.1em;
}

h3 {
    margin-left: 2em;
}

.services-cards {
    margin-bottom: 5em;
    display: flex;
    text-align: center;
}

.card {
    background: none;
    border: none;
    margin: auto;
    margin-top: 0;
}

.card-img-top {
    width: 50%;
    margin-left: 5em;
}

.xp-grid {
    padding: 4em;
}

.col {
    max-width: 20%;
    margin: auto;
    padding: 2em;
    align-items: center;
}

